<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/company/all">Companies - View All</a>

    <br />
    <a href="/account/all">Account -View All </a>

<%- include("./includes/footer.ejs"); %>
